@font-face {
  font-family: 'CODE Bold';
  font-weight: 200;
  letter-spacing: 2px;
  font-style: normal;
  src: url('./../public/code/CODEB.otf');
}
@font-face {
  font-family: 'CODE Light';
  font-weight: 200;
  letter-spacing: 2px;
  font-style: normal;
  src: url('./../public/code/CODEL.otf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 200;
  font-style: normal;
  src: url('./../public/roboto/Roboto-Light.ttf');
}

html, body, #root {
  overflow-x: hidden;
  width: 100% !important;
  display: flex;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'CODE Light';
  letter-spacing: 2px;
}

h1{
  letter-spacing: 2px;
  font-family: 'CODE Bold';
}

p, a {
  font-family: 'Roboto';
  font-weight: 200;
  line-height: 1.5;
  word-spacing: 2;
}

pre, xmp, plaintext, listing {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 0px;
    padding: 0px
}
